<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>KNU NetworkSecurityLab</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Noto+Sans+KR:wght@400;500;700;900&display=swap"
          rel="stylesheet">
    <link th:href="@{/css/Home.css}" href="../static/css/Home.css" rel="stylesheet">


</head>
<body>
<nav id="nav">
    <div class="logo_div">
        <img th:src="@{/image/logo.png}" src="../static/image/logo.png" class="logo_pic">
    </div>
    <ul>
        <li><a th:href="@{/home}" href="Home.html">HOME</a></li>
        <li><a th:href="@{/member}" href="Member.html">MEMBER</a></li>
        <li><a th:href="@{/publication}" href="Publication.html">PUBLICATION</a></li>
        <li><a th:href="@{/notice}" href="Notice.html">NOTICE</a></li>
        <li><a th:href="@{/photo}" href="Photo.html">PHOTO</a></li>
        <li><a th:href="@{/history}" href="History.html">HISTORY</a></li>
    </ul>
</nav>

<div id="contents">
    <div id="section1">
        <div class="image_cover"></div>
        <div class="intro_content">
            <p class="intro_text">미래를 향한 꿈, 세계를 향한 도전</p>
            <div class="intro_main">
                <img th:src="@{/image/lab_logo.png}" src="../static/image/lab_logo.png" class="title_logo">
                <p class="title_text">Network Security Lab</p>
            </div>
            <p class="intro_text">네트워크 보안 연구실에 오신 것을 환영합니다</p>
        </div>
    </div>
    <div id="section2">
        <div class="section2_content">
            <div class="introduce">
                <div class="bar"></div>
                <p class="introduce_lab">
                    찬미를 듣기만 꽃이 피고, 그와 크고 청춘의 쓸쓸한 이것이다. 가지에 구할 사라지지 이성은 희망의 꽃이 열매를 쓸쓸하랴? 희망의 돋고, 찾아 품었기 보라. 소리다.이것은 청춘의
                    밥을 싹이 봄바람이다. 너의 예가 싹이 착목한는 약동하다.심장의 위하여서, 뼈 것은 영원히 약동하다.
                    예가 산야에 이상을 운다. 그들의 만천하의 이는 구하지 이것이다. 청춘의 날카로우나 같이 같지 시들어 청춘의 아니다. 있는 생명을 눈이 위하여서 때까지 행복스럽고 같지 끓는다.
                    자신과 착목한는 끓는 품으며, 반짝이는 뼈 약동하다. 얼마나 많이 것이다.보라, 관현악이며, 원질이 칼이다.
                    찬미를 듣기만 꽃이 피고, 그와 크고 청춘의 쓸쓸한 이것이다. 가지에 구할 사라지지 이성은 희망의 꽃이 열매를 쓸쓸하랴? 희망의 돋고, 찾아 품었기 보라. 소리다.이것은 청춘의
                    밥을 싹이 봄바람이다. 너의 예가 싹이 착목한는 약동하다.심장의 위하여서, 뼈 것은 영원히 약동하다.
                    예가 산야에 이상을 운다. 그들의 만천하의 이는 구하지 이것이다. 청춘의 날카로우나 같이 같지 시들어 청춘의 아니다. 있는 생명을 눈이 위하여서 때까지 행복스럽고 같지 끓는다.
                    자신과 착목한는 끓는 품으며, 반짝이는 뼈 약동하다. 얼마나 많이 것이다.보라, 관현악이며, 원질이 칼이다.
                </p>
            </div>
            <div class="notice">
                <div class="bar"></div>
                <table>
                    <tr>
                        <td class="td_type">[공지]</td>
                        <td class="td_subject"><a th:href="@{/notice}" href="Notice.html">2023 연구실 프로젝트 진행 진척도 확인 회의</a>
                        </td>
                        <td class="td_date">2023-02-04</td>
                    </tr>
                    <tr>
                        <td class="td_type">[논문]</td>
                        <td class="td_subject"><a th:href="@{/notice}" href="Notice.html">위치기반의 코로나 19 방역 알림
                            시스템(2021)</a></td>
                        <td class="td_date">2023-02-04</td>
                    </tr>
                    <tr>
                        <td class="td_type">[프로젝트]</td>
                        <td class="td_subject"><a th:href="@{/notice}" href="Notice.html">2023 연구실 웹페이지 제작</a></td>
                        <td class="td_date">2023-02-04</td>
                    </tr>
                    <tr>
                        <td class="td_type">[공지]</td>
                        <td class="td_subject"><a th:href="@{/notice}" href="Notice.html">2023 연구실 프로젝트 진행 진척도 확인
                            회의</a></td>
                        <td class="td_date">2023-02-04</td>
                    </tr>
                    <tr>
                        <td class="td_type">[공지]</td>
                        <td class="td_subject"><a th:href="@{/notice}" href="Notice.html">2023 연구실 프로젝트 진행 진척도 확인 회의</a>
                        </td>
                        <td class="td_date">2023-02-04</td>
                    </tr>
                </table>
                <div class="more"><a th:href="@{/notice}" href="Notice.html">더보기</a></div>

            </div>
            <div class="photo">
                <div class="bar"></div>
                <div class="photo_content">
                    <ul>
                        <li>
                            <a th:href="@{/photo}" href="Photo.html">
                                <figure>
                                    <img th:src="@{/image/photo1.jpg}" src="../static/image/photo1.jpg"
                                         class="photo_img" width="250px" height="350px">
                                    <figcaption>
                                        <p class="photo_date">2023.02.15</p>
                                        <p class="photo_subject">노는게 제일 좋아</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/photo}" href="Photo.html">
                                <figure>
                                    <img th:src="@{/image/photo2.jpg}" src="../static/image/photo2.jpg"
                                         class="photo_img" width="250px" height="350px">
                                    <figcaption>
                                        <p class="photo_date">2023.02.15</p>
                                        <p class="photo_subject">노는게 제일 좋아</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/photo}" href="Photo.html">
                                <figure>
                                    <img th:src="@{/image/photo3.jpg}" src="../static/image/photo3.jpg"
                                         class="photo_img" width="250px" height="350px">
                                    <figcaption>
                                        <p class="photo_date">2023.02.15</p>
                                        <p class="photo_subject">노는게 제일 좋아</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/photo}" href="Photo.html">
                                <figure>
                                    <img th:src="@{/image/photo4.jpg}" src="../static/image/photo4.jpg"
                                         class="photo_img" width="250px" height="350px">
                                    <figcaption>
                                        <p class="photo_date">2023.02.15</p>
                                        <p class="photo_subject">노는게 제일 좋아</p>
                                    </figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="more"><a th:href="@{/photo}" href="Photo.html">더보기</a></div>
            </div>
            <div class="recruit">
                <div class="bar"></div>
                <div class="recruit_content">
                    <div class="recruit_text1">
                        <div>
                            <p>
                                <strong>현</strong>재 연구실은 학부생 및 졸업생이 모여 여러 분야의 활동을 이어나가고 있습니다.<br>
                                구성원들끼리 자유롭게 자신이 하고 싶은 것을 이야기 하며,<br>
                                함께 성장해 나가며, 하고 싶은 것을 이루는 것을 목표로 합니다.<br>
                                1년에 1 ~ 2회 정도 학회에 논문을 투고 및 발표하며,<br>
                                구성원들이 모여 여러 프로젝트를 진행합니다.<br>
                                코딩 스터디 및 IT 계열의 트렌드에 관한 정보를 공유하기도 합니다.
                            </p>
                        </div>
                    </div>
                    <div class="recruit_text2">
                        <p>
                            함께 하실 분들을 모집합니다!<br>
                        </p>
                        <table>
                            <tr>
                                <td><strong>랩장</strong>&nbsp;&nbsp;전윤호</td>
                                <td>|</td>
                                <td>010 - xxxx -xxxx</td>
                            </tr>
                            <tr>
                                <td>연구실</td>
                                <td>|</td>
                                <td>041 - xxx - xxxx</td>
                            </tr>
                            <tr>
                                <td colspan="3">공주대학교 천안캠퍼스 8공학관 915호</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <img th:src="@{/image/footer_logo.png}" src="../static/image/footer_logo.png">
    <p>
        충청남도 천안시 부대동 천안대로 1223-24 (국립공주대학교), 제8공학관 915호<br>
        7, Gwangol 1-gil, Gongju-si, Chungcheongnam-do, Republic of Korea<br>
        NSL (Network Security Lab.) KNU
    </p>
</footer>
</body>

</html>